<!DOCTYPE html>
<html lang="en" xmls:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:xmls="http://www.w3.org/1999/xhtml" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8"/>
    <title>Owner List</title>
</head>
<body>
    <h1 th:text = "'Owner List'">Owner List ...</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">ID</th>
            <th style="width: 150px;">First Name</th>
            <th style="width: 150px;">Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text = "${owner.id}">1</td>
            <td th:text = "${owner.firstName}">2</td>
            <td th:text = "${owner.lastName}">3</td>
        </tr>
        </tbody>
    </table>
</body>
</html>